html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

.profile-card--container {
  border: 1px solid lightgray;
  display: flex;
  height: 250px;
  margin: 0 auto;
  width: 500px;
}

.profile-card--info-container {
  border-left: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 1.6rem;
}
