.profile-card--info-profile {
  display: flex;
  flex-direction: column;
}

.profile-card--fullname {
  color: #111;
  font-size: 2.4rem;
  font-weight: bold;
}

.profile-card--title {
  color: #aaa;
  font-size: 1.8rem;
}

